.flavors-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flavors-overlay {
    position: absolute;
    max-width: 25%;
    margin: 200px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensure it appears above the images */
  }
  .flavor {
    display: flex;
    align-items: center;
  }
  

  .holiday-flavors {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flavors-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .flavor {
    display: flex;
    align-items: center;
  }
  
  .flavor-number {
    margin-right: 21px; /* Adjust spacing between number and flavor text */
  }
  .secondary-button {
    margin-top: 10px; /* Adjust as needed */
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    border: 1.5px solid transparent;
    border-color: #0e7e12;
    border-radius: 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: #0e7e12;
    transition: border-color 0.3s ease;
  }
  
  